name: CI/CD Pipeline Robuste
on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. On récupère le code
      - name: Récupérer le code
        uses: actions/checkout@v3
        
      # 2. On installe Python
      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # 3. On installe l'outil officiel Hugging Face
      - name: Installer les outils
        run: pip install huggingface_hub

      # 4. DÉPLOIEMENT VIA CLI (La méthode infaillible)
      - name: Upload vers Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # On se connecte
          huggingface-cli login --token $HF_TOKEN
          
          # On envoie TOUT le dossier courant (.) vers ton Space
          # L'outil gère automatiquement les fichiers binaires (.joblib)
          huggingface-cli upload andrandraina/emotion-rf-webcam . . --repo-type space --exclude ".git/*" ".github/*"